# ----- gitignore API
function gi() {
    curl -L -s https://www.gitignore.io/api/$@
}

# ----- Create a new directory and enter it
mkd() {
    mkdir -p "$@" && cd "$@"
}

# ----- Weather
weather() {
    curl -s "https://wttr.in/${1:-Ponorogo}?m2" | sed -n "1,27p"
}

# ----- Git commit browser
fshow() {
    local commit_hash="echo {} | grep -o '[a-f0-9]\{7\}' | head -1"
    local view_commit="$commit_hash | xargs -I % sh -c 'git show --color=always % | diff-so-fancy'"
    git log --color=always \
        --format="%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset" "$@" | \
    fzf --no-sort --tiebreak=index --no-multi --reverse --ansi \
        --header="enter to view, alt-y to copy hash" --preview="$view_commit" \
        --bind="enter:execute:$view_commit | less -R" \
        --bind="alt-y:execute:$commit_hash | xclip -selection clipboard"
}

# ----- Print README file
readme() {
    for readme in {readme,README}.{md,MD,markdown,txt,TXT,mkd}; do
        if [[ -f "$readme" ]]; then
            cat "$readme"
        fi
    done
}

# ----- fzf
f() {
    fzf | $@
}

# ----- run nvm (dynamically load nvm in the current shell)
n() {
    if ! [ -x "$(command -v nvm)" ]; then
        . "$NVM_DIR/nvm.sh"
    fi
    nvm $@
}

shdl() {
  curl -O $(curl -s http://sci-hub.tw/"$@" | grep location.href | grep -o http.*pdf) ;
}
