[includeIf "gitdir:~/Workspace/play/"]
	path = "~/.gitconfig-play"
[includeIf "gitdir:~/Workspace/_/"]
	path = "~/.gitconfig-play"
[includeIf "gitdir:~/Workspace/work/"]
	path = "~/.gitconfig-work"
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[alias]
	praise = blame
	git = !exec git
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[push]
	default = current
[branch]
	autosetupmerge = always
