[includeIf "gitdir:~/Workspace/play/"]
	path = "~/.gitconfig-play"
[includeIf "gitdir:~/Workspace/_/"]
	path = "~/.gitconfig-play"
[includeIf "gitdir:~/Workspace/work/"]
	path = "~/.gitconfig-work"
[core]
	excludesfile = ~/.gitignore_global
[commit]
  template = ~/.gitmessage
[alias]
	praise = blame
	git = !exec git
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	hack = town hack
	sync = town sync
	kill = town kill
	prune-branches = town prune-branches
	repo = town repo
	new-pull-request = town new-pull-request
	rename-branch = town rename-branch
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[push]
	default = current
[branch]
	autosetupmerge = always
[pull]
	rebase = false
